# OpenAI GPT available models: gpt-4-32k | gpt-4 | gpt-3.5-turbo | gpt-3.5-turbo-16k
#
# IMPORTANT: Rename this file to .env before running the server
#
# PORT Where the server will be running
PORT = 3001
# Your OpenAI API key value
OPENAI_API_KEY =  "sk-EtcEtcEtcEtcEtcEtcEtcEtcEtcEtcEtcEtcEtcEtcEtcEtc"
OPENAI_API_DEFAULT_MODEL = "gpt-3.5-turbo"
OPENAI_API_DEFAULT_MAX_TOKENS = "4000"
OPENAI_API_DEFAULT_TEMPERATURE = "0.25"
OPENAI_API_DEFAULT_TOP_P = "1"
OPENAI_API_DEFAULT_FREQUENCY_PENALTY = "0.5"
OPENAI_API_DEFAULT_PRESENCE_PENALTY = "0.5"